// Override this file to add your own SCSS styling.

//subtitle
#about p.mt-1 {
  color: #EA4892 !important;
}



#posts .stream-item {
  background: #fff;
  padding: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  transition: all 0.2s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
}

#posts .summary-link {
  color: unset;
  text-decoration: none;
}
